<div class="container">
  <div fxLayout="row" class="mt-5">
    <div class="title" fxFlex>
      <div class="title__text">Consultas</div>
      <div class="title__row"></div>
    </div>
  </div>
  <div class="card-lista-consultas card-lista-consultas--header">
    <div class="card-lista-consultas__nombre-doctor">Doctor</div>
    <div class="card-lista-consultas__especialidad">Especialidad</div>
    <div class="card-lista-consultas__fecha">Fecha de Inicio</div>
    <div class="card-lista-consultas__estado">Estado</div>
    <div class="card-lista-consultas__button">Accion</div>
  </div>
  <div *ngFor="let item of consultas; let i = index">
    <div class="card-lista-consultas card-lista-consultas--row">
      <div class="card-lista-consultas__nombre-doctor">
        {{ item.firstName }} {{ item.firstSurname }} {{ item.secondSurname }}
      </div>
      <div class="card-lista-consultas__especialidad">
        {{ item.specialtyName }}
      </div>
      <div class="card-lista-consultas__fecha">{{ item.startDate }}</div>
      <div class="card-lista-consultas__estado">
        {{ verificarEstado(item.status) }}
      </div>
      <div class="card-lista-consultas__button">
        <div *ngIf="item.status == 1">
          <button
            mat-raised-button
            class="button__normal-button"
            (click)="irAChat(item.consultId)"
          >
            Ver Chat
          </button>
        </div>
        <div *ngIf="item.status == 2">
          <button
            mat-raised-button
            class="button__normal-button"
            (click)="darPuntuacion(item.consultId)"
          >
            Dar Puntuacion
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
