<div class="container mb-5">
  <div fxLayout="row" class="mt-5">
    <div class="title" fxFlex>
      <div class="title__text">Datos Medicos</div>
      <div class="title__row"></div>
    </div>
  </div>
  <div class="card-datos-medicos__titulo">* Generales</div>
  <div class="card-datos-medicos__container">
    <div class="" fxLayout="row">
      <div class="card-datos-medicos__columna" fxFlex="50">
        <div class="card-datos-medicos__subtitulo-compuesto">
          <div class="card-datos-medicos__subtitulo-button">Datos</div>
        </div>
        <form>
          <div class="card-datos-medicos__informacion">
            <div class="card-datos-medicos__informacion--subtitulo">Peso :</div>
            <div class="card-datos-medicos__informacion--titulo">
              <mat-form-field class="modal-container__inputs--width">
                <mat-label>Ingrese su Peso</mat-label>
                <input
                  id="peso"
                  class="input-form"
                  matInput
                  placeholder="Ejem 85"
                  [(ngModel)]="medicalDataModel.weight"
                  name="peso"
                />
              </mat-form-field>
            </div>
            <div class="card-datos-medicos__informacion--unidad">Kg</div>
          </div>
          <div class="card-datos-medicos__informacion">
            <div class="card-datos-medicos__informacion--subtitulo">
              Altura :
            </div>
            <div class="card-datos-medicos__informacion--titulo">
              <mat-form-field class="modal-container__inputs--width">
                <mat-label>Ingrese su Altura</mat-label>
                <input
                  id="altura"
                  class="input-form"
                  matInput
                  placeholder="Ejem 180"
                  [(ngModel)]="medicalDataModel.height"
                  name="altura"
                />
              </mat-form-field>
            </div>
            <div class="card-datos-medicos__informacion--unidad">cm</div>
          </div>
          <div class="card-datos-medicos__informacion">
            <div class="card-datos-medicos__informacion--subtitulo">
              Temperatura :
            </div>
            <div class="card-datos-medicos__informacion--titulo">
              <mat-form-field class="modal-container__inputs--width">
                <mat-label>Ingrese su Temperatura</mat-label>
                <input
                  id="gradosC"
                  class="input-form"
                  matInput
                  placeholder="Ejem 40"
                  [(ngModel)]="medicalDataModel.temperature"
                  name="gradosC"
                />
              </mat-form-field>
            </div>
            <div class="card-datos-medicos__informacion--unidad">ºC</div>
          </div>
          <div class="card-datos-medicos__informacion">
            <div class="card-datos-medicos__informacion--subtitulo">
              Presion :
            </div>
            <div class="card-datos-medicos__informacion--titulo">
              <mat-form-field class="modal-container__inputs--width">
                <mat-label>Ingrese su Presion</mat-label>
                <input
                  id="presion"
                  class="input-form"
                  matInput
                  placeholder="Ejem 40"
                  [(ngModel)]="medicalDataModel.pressure"
                  name="presion"
                />
              </mat-form-field>
            </div>
            <div class="card-datos-medicos__informacion--unidad">mmHg</div>
          </div>
          <div class="card-datos-medicos__informacion">
            <div class="card-datos-medicos__informacion--subtitulo">
              Grupo Sanguineo :
            </div>
            <div class="card-datos-medicos__informacion--titulo">
              <mat-form-field
                appearance="fill"
                class="modal-container__inputs--width"
              >
                <mat-label>Grupo Sanguineo</mat-label>
                <mat-select
                  [(ngModel)]="medicalDataModel.bloodGroup"
                  name="bloodGroup"
                >
                  <mat-option
                    *ngFor="let item of grupoSanguineo"
                    [value]="item"
                  >
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="card-datos-medicos__informacion--unidad"></div>
          </div>

          <div class="u__flex--center">
            <button
              mat-raised-button
              class="button__large-button--primary"
              (click)="registerDatosMedicos()"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
      <div fxFlex="50">
        <div class="image-datos">
          <img
            [src]="datosGeneralesImage"
            alt="medicalnowlogo"
            class="image-datos__big"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="card-datos-medicos__titulo">* Antecedentes</div>

  <div class="card-datos-medicos__container mb-5">
    <div class="" fxLayout="row">
      <div fxFlex="50">
        <div class="image-datos">
          <img
            [src]="alergiasImage"
            alt="medicalnowlogo"
            class="image-datos__big"
          />
        </div>
      </div>
      <div class="" fxFlex="50">
        <div class="card-datos-medicos__subtitulo-compuesto">
          <div class="card-datos-medicos__subtitulo-button">Alergias</div>
          <button
            mat-mini-fab
            class="circle-button--primary"
            (click)="agregarAlergias()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="" *ngFor="let item of alergiasItems; let i = index">
          <div class="u__flex--space-between">
            <mat-form-field class="modal-container__inputs--width">
              <mat-label>Alergia</mat-label>
              <input
                class="input-form"
                matInput
                placeholder="alergia"
                name="alergia{{ i }}"
                [(ngModel)]="item.nombreAlergia"
              />
            </mat-form-field>
            <button
              mat-mini-fab
              class="circle-button--delete circle-button__chat"
              (click)="eliminarAlergia(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="u__flex--center">
          <button
            mat-raised-button
            class="button__large-button--primary"
            (click)="guardarAlergias()"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-datos-medicos__container">
    <div class="" fxLayout="row">
      <div class="" fxFlex="50">
        <div class="card-datos-medicos__subtitulo-compuesto">
          <div class="card-datos-medicos__subtitulo-button">
            Diagnosticos Previos
          </div>
          <button
            mat-mini-fab
            class="circle-button--primary"
            (click)="agregarDiagnosticos()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="" *ngFor="let item of enfermedadesItems; let i = index">
          <div class="u__flex--space-between">
            <mat-form-field class="modal-container__inputs--width">
              <mat-label>Diagnosticos Previos</mat-label>
              <input
                class="input-form"
                matInput
                placeholder="diagnosticos"
                name="diagnosticos{{ i }}"
                [(ngModel)]="item.nombreEnfermedad"
              />
            </mat-form-field>
            <button
              mat-mini-fab
              class="circle-button--delete circle-button__chat"
              (click)="eliminarDiagnosticos(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="u__flex--center">
          <button
            mat-raised-button
            class="button__large-button--primary"
            (click)="guardarDiagnosticos()"
          >
            Guardar
          </button>
        </div>
      </div>
      <div fxFlex="50">
        <div class="image-datos">
          <img
            [src]="diagnosticosImage"
            alt="medicalnowlogo"
            class="image-datos__big"
          />
        </div>
      </div>
    </div>
  </div>
</div>
